<div class="centrale">
  <h1>LA TOMBOLA</h1>
  <!-- <input type="text" class="inputGiocatori" placeholder="Numero di giocatori" (keyup)="scegliNumeroGiocatori($event)"> <br>
  <button (click)="giocatoriRegistrati()" type="button" class="buttonConferma">Conferma</button> <br> -->
  <button [disabled]="bottonoDisabilitato == true" (click)="estrazione()" class="buttonEstrai">Estrai</button>
  <button (click)="reset()" class="buttonReset">Reset</button>
  <h1>{{ numeroEstratto }}</h1>
</div>



<div>
  <h2>{{title}}</h2>
  <ul>
    <li *ngFor="let item of numeri">

      <span [ngStyle]="{color: controllo(item)}">{{item}}</span>

    </li>
  </ul>
</div>

<div [formGroup]="form">
  <div formArrayName="name">
    <div *ngFor="let item of variabile.controls; let i = index">
      <input [formControlName]="i" type="text" class="inputGiocatori" placeholder="Inserire nome">
      <span *ngIf="item.invalid && item.dirty">
        <small class="text-danger">This field is required</small>
      </span>
      <app-scheda [numeroEstratto]="numeroEstratto" [nickname]="item.value" [isReset]="isReset" (cartellaCambiata)="aggiornoReset()" (nomeVincitore)="stampaTabella($event)"></app-scheda>
    </div>
  </div> <br> <br>
</div>
      <button [disabled]="form.invalid" (click)="addGiocatore()">Aggiungi</button><br>

<!-- <button (click)="addGiocatore()">Aggiungi</button> -->



<!-- <div *ngFor="let item of giocatori">
  <app-scheda [numeroEstratto]="numeroEstratto" [isReset]="isReset" (cartellaCambiata)="aggiornoReset()" (nomeVincitore)="stampaTabella($event)"></app-scheda>
</div> -->

<br>
<br>
<div>
  <div *ngFor="let item of storicoPartite">
    <h3>Numero partita : {{ item.numeroPartita }}. Nome vincitore : {{ item.nomeVincitore }}. Numero mosse effettuate : {{item.numeroMosse }}.</h3>
  </div>
</div>
