<input type="text" placeholder="Numero di giocatori" (keyup)="scegliNumeroGiocatori($event)">
<button (click)="giocatoriRegistrati()">Conferma</button>

<div>
  <button [disabled]="bottonoDisabilitato == true" (click)="estrazione()">Estrai un numero</button>
  <button (click)="reset()">Reset</button>

  <h3>{{ numeroEstratto }}</h3>
  <h2>{{title}}</h2>
  <ul>
    <li *ngFor="let item of numeri">

      <span [ngStyle]="{color: controllo(item)}">{{item}}</span>

    </li>
  </ul>
</div>
<div *ngFor="let item of giocatori">
  <app-scheda [numeroEstratto]="numeroEstratto" [isReset]="isReset" (cartellaCambiata)="aggiornoReset()" (nomeVincitore)="stampaTabella($event)"></app-scheda>
</div>
<!-- <h1>{{numeroEstratto}}</h1> -->
<br>
<div>
  <div *ngFor="let item of storicoPartite">
    <h3>Numero partita : {{ item.numeroPartita }}. Nome vincitore : {{ item.nomeVincitore }}. Numero mosse effettuate : {{item.numeroMosse }}.</h3>
  </div>
</div>




