.mettiCentrale{
  margin-top: 100px;
  text-align: center;
}


.titolo {
  text-align: center;
}

.rounded {
  border: 2px solid black;
  border-radius: 30px;
  margin-left: 400px;
  margin-right: 400px;
  padding: 70px;
  width: 25%;
}

.rosso {
  color: red
}
.bottonoCircolare{
  background-color: black;
  border-radius: 10px;
  color: red;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 10px;
}

.inputInserimento{
  font-size: 17px;
  border-radius: 15px;
  width: 1000;
  margin-top: 10px;

}

.buttonGioca {
  background-color: green;
  color: white;
  border-radius: 25px;
  margin-left: 10px;
  font-size: 17px;
  margin-top: 10px;
}

.inputColonna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
